<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <table th:fragment="results" th:each="job:${jobs}" class="job-listing">
            <tr>
                <td class="dataLabel">ID</td>
                <td th:text="|${job.id}|">ID</td>
            </tr>
            <tr>
                <td class="dataLabel">Name</td>
                <td th:text="|${job.name}|">Name</td>
            </tr>
            <tr>
                <td class="dataLabel">Employer</td>
                <td><a th:text="${job.employer}" th:href="@{/list/jobs(column='employer',value=${job.employer})}">Employer</a></td>
            </tr>
            <tr>
                <td class="dataLabel">Location</td>
                <td><a th:text="${job.location}" th:href="@{/list/jobs(column='location',value=${job.location})}">Location</a></td>
            </tr>
            <tr>
                <td class="dataLabel">Position Type</td>
                <td><a th:text="${job.positionType}" th:href="@{/list/jobs(column='positionType',value=${job.positionType})}">Position Type</a></td>
            </tr>
            <tr>
                <td class="dataLabel">Skill</td>
                <td><a th:text="${job.coreCompetency}" th:href="@{/list/jobs(column='coreCompetency',value=${job.coreCompetency})}">Core Competency</a></td>
            </tr>
    </table>
</div>
</body>
</html>